**/*

!CHANGELOG.md
!README.md
!language-configuration.json
!package.json
!package-lock.json
!out/**
!queries/*
!img/*
!LICENSE

# Ensure that prod dependencies are included.
#
# This is computed from:
# `cat package-lock.json | jq -r '.packages | map_values(select(.dev != true)) | keys[] | select(. != "")'`
!node_modules/balanced-match
!node_modules/brace-expansion
!node_modules/minimatch
!node_modules/semver
!node_modules/vscode-jsonrpc
!node_modules/vscode-languageclient
!node_modules/vscode-languageserver-protocol
!node_modules/vscode-languageserver-types
!node_modules/web-tree-sitter
